/* Custom Stylesheet */

.sec {
  padding-top: 40px;
  padding-bottom: 40px;
}
.leaflet-map {
  height: 500px;
}

.slogan{
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  line-height: 130%;
}
/*leftlet*/

